<div class="container">

  <div class="card bg-dark text-white mb-4 box-shadow">
    <img class="card-img-top"  
        src="assets/pictures/wp2035997.jpg"
         data-holder-rendered="true" style="height: 100px; width: 100%; display: block;object-fit:none ">
    <div class="card-img-overlay">
      <p class="card-text" >Test cases for Task #{{task.TaskID}}</p>
    </div>
  </div>

  <hr>
      <div class="col"  >
        <div class="col"  *ngFor="let item of this.task.TestCases">
          <app-testcase-detail [testCase] = "item"></app-testcase-detail>
        </div>
      </div>

      <div style="text-align:center">
          <a [routerLink]="['/createTestCase',this.task.TaskID]" class="btn btn-primary" style="position: relative">Add new test case</a>
          </div>

</div>