
  <div class="card mb-4 box-shadow">
    <!-- <img class="card-img-top course-img" data-holder-rendered="true"
    src="https://cdn-images-1.medium.com/max/1200/1*YU6BvZKvxivoEnvqxeG5rw.png"
    > -->
  <div class="card-body">
    <h4 class="card-title">Task #{{ task.TaskID }}</h4>
    <p class="card-text">
        {{ task.TaskDescription.substr(0, 150) }} ...
      </p>
    <a [routerLink]="['/taskDetail',task.TaskID]" class="btn btn-primary" style="position: relative">Open task</a>
    <button class="btn" style="margin-left: 2%; position: relative; background-color: white;" (click) = "file.click()">Upload File</button>
    <button *ngIf="this.authService.isTeacherOrAdmin()" (click) = "deleteTask()" class="btn" style="position: relative; float: right; color: white; background-color: crimson">Delete</button>
  </div>
  <input style="display: none" type="file" #file (change)="fileChange($event)"/>
</div>
