.card {
    height: fit-content;
  }
  .card-block {
    word-wrap: break-word;
  }

.course-img {
  position: relative; 
  align-self: center; 
  height: 225px; width: 80%; 
  display: block; padding: 5px;
}
  