<div class="container">

  <div class="card bg-dark text-white mb-4 box-shadow">
    <img class="card-img-top"  
        src="assets/pictures/wp2035997.jpg"
         data-holder-rendered="true" style="height: 100px; width: 100%; display: block;object-fit:none ">
    <div class="card-img-overlay">
      <p class="card-text" >{{currentCategory}}</p>
    </div>
  </div>

  <hr>
      <div class="row"  >
        <div class="col col-md-4"  *ngFor="let item of this.disciplineList">
          <app-discipline-cards-item [discipline]="item"></app-discipline-cards-item>
        </div>
      </div>

</div>
