<div id="registration-modal">
    <div>
      <div class="loginmodal-container">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
        <h1>Create new account</h1><br>
        <form name="form" (ngSubmit)="register();" #registerForm="ngForm" novalidate>
          <div class="form-group" >
            <input name="firstname" placeholder="First Name" class="form-control loginmodal-container-input"
                   [(ngModel)]="model.firstname" #firstname="ngModel" required pattern="[A-Za-z]{2,20}$"/>
            <div *ngIf="firstname.errors && firstname.dirty" class="alert alert-danger">
              First Name must contain at least 2 to 20 letters</div>
          </div>
  
          <div class="form-group" >
            <input name="lastname" placeholder="Last Name" class="form-control loginmodal-container-input"
                   [(ngModel)]="model.lastname" #lastname="ngModel" required pattern="[A-Za-z]{2,30}$"/>
            <div *ngIf="lastname.errors && lastname.dirty" class="alert alert-danger">
              Last Name must contain at least 2 to 30 letters</div>
          </div>
          <div class="form-group" >
            <input type="email" name="email" placeholder="E-mail" class="form-control loginmodal-container-input"
                   [(ngModel)]="model.email" #email="ngModel" required pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"/>
            <div *ngIf="email.errors && email.dirty" class="alert alert-danger">
              Please enter a valid email address
            </div>
          </div>
          <div class="form-group" >
            <input name="username" placeholder="Username" class="form-control loginmodal-container-input"
                   [(ngModel)]="model.username" #username="ngModel" required pattern="^([a-zA-Z])[a-zA-Z_-]*[\w_-]*[\S]$|^([a-zA-Z])[0-9_-]*[\S]$|^[a-zA-Z]*[\S]$"/>
            <div *ngIf="username.errors && username.dirty" class="alert alert-danger">
              Username isn't alphanumeric, starts with an alphabet and contains no special characters other than underscore or dash</div>
          </div>
          <div class="form-group" >
            <input type="password" name="password" placeholder="Password" class="form-control loginmodal-container-input"
                   [(ngModel)]="model.password" #password="ngModel" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"/>
            <div *ngIf="password.errors && password.dirty" class="alert alert-danger">
              Password must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters
            </div>
          </div>
          <div class="form-group" >
            <input type="password" name="confirmpassword" placeholder="Confirm password" class="form-control loginmodal-container-input"
                   [(ngModel)]="model.confirmpassword" #confirmpassword="ngModel" required validateEqual="password" reverse="false" />
            <div *ngIf="confirmpassword.errors && confirmpassword.dirty" class="alert alert-danger">
              The password and confirmation password do not match</div>
          </div>
          <div class="form-group" >
  
            <div class="onoffswitch3">
              <input type="checkbox" value="teacher" name="onoffswitch3" class="onoffswitch3-checkbox" id="myonoffswitch3" [value] = "model.teacher" [(ngModel)]="model.teacher" checked>
              <label class="onoffswitch3-label" for="myonoffswitch3">
          <span class="onoffswitch3-inner">
              <span class="onoffswitch3-active"><span class="onoffswitch3-switch">Teacher</span></span>
              <span class="onoffswitch3-inactive"><span class="onoffswitch3-switch">Student</span></span>
          </span>
              </label>
            </div>
          </div>
  
          <!-- <div *ngIf="!isSuccess" class="form-group alert alert-danger">
            This email address is already in use by another account
          </div> -->
          <input type="submit" [disabled]="!registerForm.form.valid" name="login" class="login loginmodal-submit" value="Sign up">
          <div class="container-border">
            Already have an account?
            <a href="login" data-dismiss="modal" data-toggle="modal" data-target="#login-modal">Sign in</a>
          </div>
        </form>
      </div>
  </div>
  </div>