<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer>
  <div class="footer fixed-bottom" id="footer" >
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-4 hidden-xs">
          <h3> Contact us </h3>
          <ul>
            <li> <a href="#"> Email: sigma-team@gmail.com </a> </li>
            <li> <a href="#"> Phone: +380999341135 </a> </li>
            <li> <a href="#"> Address: Lviv, Lukasha 5</a> </li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <h3> Language</h3>
          <ul>
            <li> <a href="#"> English </a> </li>
            <li> <a href="#"> Ukrainian </a> </li>
          </ul>
        </div>
        <div class="col-md-2 hidden-xs hidden-sm ">
          <h3> Checking System </h3>
          <ul>
            <li> <a href="#"> AboutUs </a> </li>
            <li> <a href="#"> Privacy Policy </a> </li>
            <li> <a href="#"> Terms of Service </a> </li>
            <li> <a href="#"> Careers </a> </li>
          </ul>
        </div>
        <div class="col-md-2 hidden-xs hidden-sm">
          <h3> Learn more </h3>
          <ul>
            <li> <a href="#"> Support </a> </li>
            <li> <a href="#"> Developers </a> </li>
            <li> <a href="#"> FAQ </a> </li>
            <li> <a href="#"> News </a> </li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <h3> Subscribe us </h3>
          <ul class="social">
            <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
          </ul>
        </div>
      </div>
      <!--/.row-->
    </div>
    <!--/.container-->
  </div>
  <!--/.footer-->
</footer>
