<div class="container">

  <div>
    <h2 style="position: relative; margin-bottom: 3%">Task #{{task.TaskID}} </h2>
    <div style="margin-bottom: 3%">
      <p class="card-text" >{{task.TaskDescription}}</p>
    </div>
    <div style="margin-bottom: 3%">
        <div style="display: inline-block; width: 50%"><h3>Input Example</h3>
          {{ task.TaskInputExample }}
        </div>
        <div style="display: inline-block; width: 50%"><h3>Output Example</h3>
          {{ task.TaskOutputExample }}
        </div>
    </div>

    <input style="display: none" type="file" #file (change)="fileChange($event)"/>
    <div style="text-align:center">
      <button class="btn btn-primary" style="position: relative" (click) = "file.click()">Send file</button>
      <button class="btn" [routerLink]="['/results']" style="margin-left: 2%; position: relative; background-color: white;">View result</button>
      <!-- <a class="btn" href="http://localhost:4200/results" style="margin-left: 2%; position: relative; background-color: white;">View result</a> -->
    </div>
    <div style="text-align:center; margin-top: 2%">
      <button *ngIf="this.authService.isTeacherOrAdmin()" [routerLink]="['/viewTestCases',task.TaskID]" class="btn background-color: white;" style="position: relative">View test cases</button>
    </div>
  </div>

</div>