
  <div class="card mb-4 box-shadow">
    <!-- <img class="card-img-top course-img" data-holder-rendered="true"
    src="https://cdn-images-1.medium.com/max/1200/1*YU6BvZKvxivoEnvqxeG5rw.png"
    > -->
  <div class="card-body">
    <h4 class="card-title">TestCase #{{ testCase.TestCaseID }}</h4>
    <div style="margin-bottom: 3%">
      <div style="display: inline-block; width: 50%"><h6>Input</h6>
        {{ testCase.TestInputData }}
      </div>
      <div style="display: inline-block; width: 50%"><h6>Output</h6>
        {{ testCase.TestOutputExpected }}
      </div>
      <div><h6>Difficulty</h6>
        {{ testCase.Difficulty }}
      </div>
  </div>
    <button (click) = "deleteTestCase()" class="btn" style="position: relative; color: white; background-color: crimson">Delete</button>
  </div>
</div>
