<form >
    <div style="text-align:center">
    <h2>Create new task</h2>
    </div>
  
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="descriptionTextArea">Description</label>
          <textarea [(ngModel)]="task.taskDescription" placeholder="Enter your description" name="courseDesc"  class="form-control" id="descriptionTextArea" rows="7"></textarea>
        </div>
        <div class="form-group">
            <label for="descriptionTextArea">Task Input Example</label>
            <textarea [(ngModel)]="task.taskInputExample" placeholder="Enter Task Input Example" name="courseDesc"  class="form-control" id="descriptionTextArea" rows="7"></textarea>
          </div>
          <div class="form-group">
              <label for="descriptionTextArea">Task Output Example</label>
              <textarea [(ngModel)]="task.taskOutputExample" placeholder="Enter Task Output Example" name="courseDesc"  class="form-control" id="descriptionTextArea" rows="7"></textarea>
            </div>
        <div class="row">
          <div class="m-auto">
            <input type="submit" (click)="createTask()" class="btn btn-lg btn-primary " value="Create task">
          </div>
  
        </div>
      </div>
    </div>
  </form>