<form >
  <div style="text-align:center">
  <h2>Create new test case</h2>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
          <label for="descriptionTextArea">Task Input</label>
          <textarea [(ngModel)]="testCase.TestInputData" placeholder="Enter Task Input Example" name="courseDesc"  class="form-control" id="descriptionTextArea" rows="7"></textarea>
        </div>
        <div class="form-group">
            <label for="descriptionTextArea">Task Output</label>
            <textarea [(ngModel)]="testCase.TestOutputExpected" placeholder="Enter Task Output Example" name="courseDesc"  class="form-control" id="descriptionTextArea" rows="7"></textarea>
          </div>
          <div class="form-group">
            <label for="descriptionTextArea">Difficulty</label>
            <input type="number" [(ngModel)]="testCase.Difficulty" min="0" placeholder="Enter Task Output Example" name="courseDesc"  class="form-control"/>
          </div>
      <div class="row">
        <div class="m-auto">
          <input type="submit" (click)="createTestCase()" class="btn btn-lg btn-primary " value="Create test case">
        </div>

      </div>
    </div>
  </div>
</form>