<form >
  <div style="text-align:center">
  <h2>Create new discipline</h2>
  </div>
  <div class="row">
    <div class="col ">
      <div class="form-group">
        <label for="courseNameInput">Course name</label>
        <input [(ngModel)]="discipline.disciplineName"  type="text" class="form-control" id="courseNameInput" name="courseName" placeholder="Name">
      </div>
    </div>
    <!-- <div class="col ">
      <div class="text-center">
        <img id="course-image" src="{{courseImageURL}}" class="crop img-thumbnail" alt="avatar">
        <div class="row">
          <div class="upload-btn-wrapper m-auto">
            <button type="button" id="btnup" class="btn btn-primary">Browse image!</button>
            <input id="image-upload"  (change)="uploadCourseImage($event)" accept="image/jpeg,image/png,image/gif,image/jpg"
                   type="file" class="text-center center-block well well-sm">
          </div>
        </div>
      </div>
      <div *ngIf="responsePhotoChange">
        <app-alert></app-alert>
      </div>
    </div> -->
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="descriptionTextArea">Description</label>
        <textarea [(ngModel)]="discipline.description" placeholder="Enter your description" name="courseDesc"  class="form-control" id="descriptionTextArea" rows="7"></textarea>
      </div>
      <div class="row">
        <div class="m-auto">
          <input type="submit" (click)="createCourse()" class="btn btn-lg btn-primary " value="Create course">
        </div>

      </div>
    </div>
  </div>
</form>