
  <div class="card mb-4 box-shadow">
      <img class="card-img-top course-img" data-holder-rendered="true"
      src="assets/pictures/download.png"
      >
    <div class="card-body">
      <h4 class="card-title">{{ discipline.DisciplineName }}</h4>
      <p class="card-text">
          {{ discipline.Description.substr(0, 100) }} ...
        </p>
      <a [routerLink]="['/disciplineDetail',discipline.DisciplineID]" class="btn btn-primary" style="position: relative">Open course</a>
      <button *ngIf="this.authService.isTeacherOrAdmin()" (click) = "deleteDiscipline()" class="btn" style="position: relative; margin-left: 1%; color: white; background-color: crimson">Delete</button>
    </div>
  </div>
