.navbar-login
{
  width: 180px;
  padding: 10px;
  padding-bottom: 0px;
}

.cursor-style{
  cursor: pointer;
}

.navbar-login-session
{
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.icon-size
{
  font-size: 87px;
}

