<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Learn Management System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isLoggedIn()" routerLink="disciplines">Courses</a>
      </li>
      <!-- <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </ul>
    <div class="collapse navbar-collapse my-2 my-lg-0" id="bs-example-navbar-collapse-1" >
      <ul class="nav navbar-nav ml-auto">
        <li *ngIf="isLoggedIn() && this.authService.isTeacherOrAdmin()" class="nav-item active">
          <a class="nav-link" routerLink="createDiscipline">Create course</a>
        </li>
        <li *ngIf="!isLoggedIn()" class="nav-item active">
          <a class="nav-link" routerLink="login">Sign in</a></li>
        <li *ngIf="!isLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="registration">Sign up</a></li>
        <li *ngIf="isLoggedIn()" class="nav-item">
          <a class="nav-link hidden-xs hidden-sm" [routerLink]="['/disciplines','my']">My Courses</a></li>
        <li ngbDropdown *ngIf="isLoggedIn()" class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle cursor-style" role="button" data-toggle="dropdown">
              <span class="glyphicon glyphicon-user"></span> 
              <strong>Welcome,{{getCurrentUserName()}}</strong>
              <b class="caret"></b>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
                <button class="dropdown-item" href="#">Profile</button>
                <button class="dropdown-item" routerLink="results">Results</button>
                <!-- <button class="dropdown-item" href="#">Settings</button> -->
                <button class="dropdown-item cursor-style" (click)="Logout()">Exit</button>
            </div>
          </a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
<!-- <app-login></app-login> -->