<div class="container">

  <div class="card bg-dark text-white mb-4 box-shadow">
    <img class="card-img-top"  
        src="assets/pictures/wp2035997.jpg"
         data-holder-rendered="true" style="height: 100px; width: 100%; display: block;object-fit:none ">
    <div class="card-img-overlay">
      <p class="card-text" >{{discipline.DisciplineName}}</p>
    </div>
  </div>
  <div>
      <h3>Description</h3>
    {{discipline.Description}}
  </div>

  <hr>
      <div class="col"  >
        <div class="col"  *ngFor="let item of this.discipline.Tasks">
          <app-task-card-item [task] = "item"></app-task-card-item>
        </div>
      </div>

      <div style="text-align:center">
          <a *ngIf="this.authService.isTeacherOrAdmin()" [routerLink]="['/createTask',discipline.DisciplineID]" class="btn btn-primary" style="position: relative">Add new task</a>
          </div>

</div>