<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>
<div class="container" style="min-height: 100vh; padding-top: 50px;padding-bottom: 50px;">
    <router-outlet></router-outlet>
  </div>
<app-footer class="navbar-fixed-bottom"></app-footer>
