<div id="login-modal">
  <div>

        <div class="loginmodal-container">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="glyphicon glyphicon-remove"></i>
          </button>
          <h1 class="panel-heading panel-title">Login to existing account</h1><br>
          <form name="form" (ngSubmit)="login();" #loginForm="ngForm" novalidate>

            <div class="form-group" >
              <input  name="email" placeholder="Username" class="form-control loginmodal-container-input"
                      [(ngModel)]="model.email" #email="ngModel" required />
                      <!-- pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" -->
              <div *ngIf="email.errors && email.dirty" class="alert alert-danger">
                Please enter a valid email address
              </div>
            </div>

            <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control loginmodal-container-input"
                     [(ngModel)]="model.password" #password="ngModel" required/>
              <div *ngIf="password.errors && password.dirty" class="alert alert-danger">
                Password must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters
              </div>
            </div>
            <div *ngIf="!isSuccess" class="form-group alert alert-danger">
              Invalid email address or password
            </div>
            <input type="submit" name="login" [disabled]="!loginForm.form.valid"
                   data-target="#login-modal" class="login loginmodal-submit" value="Sign in">
            <div class="container-border">
              Don't have an account?
              <a href="#" routerLink="registration"  data-dismiss="modal" data-toggle="modal" data-target="#registration-modal">Sign up</a>
            </div>
          </form>
        </div>

    </div>
</div>
