<div style="text-align:center">
  <h2 *ngIf="!this.authService.isTeacherOrAdmin()">Results for user - {{ username }}</h2>
  <h2 *ngIf="this.authService.isTeacherOrAdmin()">Results</h2>
  </div>

  <h6 *ngIf="this.authService.isTeacherOrAdmin()">Select fields to search</h6>
  <div *ngIf="this.authService.isTeacherOrAdmin()">
    <mat-form-field>
      <mat-label>Users</mat-label>
      <mat-select (selectionChange) = "getFilterData()" [(value)]="selectedUser">
        <mat-option *ngFor="let user of this.Users" [value] = "user.UserID">
          {{user.Username}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="margin-left: 2%">
      <mat-label>Task</mat-label>
      <mat-select (selectionChange) = "getFilterData()" [(value)]="selectedTask">
        <mat-option *ngFor="let task of this.Tasks" [value] = "task.TaskID">
          Task #{{task.TaskID}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button class="btn" style="margin-left: 2%; position: relative; background-color: white;" (click) = "Clear()">Clear filter</button>
  </div>

<table mat-table [dataSource]="dataSource" style="font-family: Arial, Helvetica, sans-serif;">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="Username">
    <th mat-header-cell *matHeaderCellDef> User </th>
    <td mat-cell *matCellDef="let element"> {{element.UserID}} </td>
    <td mat-footer-cell *matFooterCellDef> Average </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="TaskID">
    <th mat-header-cell *matHeaderCellDef> Task </th>
    <td mat-cell *matCellDef="let element"> {{element.TaskID}} </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- Weight Column -->
  <!-- <ng-container matColumnDef="UploadedFile">
    <th mat-header-cell *matHeaderCellDef> Uploaded file </th>
    <td mat-cell *matCellDef="let element"> {{element.UploadedFile}} </td>
  </ng-container> -->

  <!-- Symbol Column -->
  <ng-container matColumnDef="DateUploaded">
    <th mat-header-cell *matHeaderCellDef> Date Uploaded </th>
    <td mat-cell *matCellDef="let element"> {{element.DateUploaded | date:'MM/dd/yyyy' }} </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="Rating">
    <th mat-header-cell *matHeaderCellDef> Rating </th>
    <td mat-cell *matCellDef="let element"> {{element.Rating}} </td>
    <td mat-footer-cell *matFooterCellDef> {{getTotal()}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>